@import "../../../index.scss"; /* All css variables are coming from here */

.activities{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    

    .activities-col{
        flex: $two-col;
        padding: $gutter $gutter;



        .activities-img{
            width: 100%;
            height: auto;

        }

        .activities-heading{
            font-family: $poppins;
            font-weight: 500;
            line-height: $head-line-height;

            
        }
        .activities-sub{
            font-family: $poppins;
            line-height: $sub-line-height;
            font-size: $med-font;
        }
    }
}


@media only screen and (max-width: 800px) {
    .activities{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .activities-col{
            flex: $one-col;
            padding: $gutter $gutter;

            .activities-heading{
                text-align: justify;
                font-size: $med-font;
                margin-bottom: $lg-mar;
            }

            .activities-sub{
                font-family: $poppins;
                line-height: $sub-line-height;
                font-size: $sm-font;
            }

        }
    }

}