@import "../../../index.scss"; /* All css variables are coming from here */

.info2{
    width: 100%;
    height: 60vh;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url("https://images.unsplash.com/photo-1528024522223-f295b5bae7b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    .info2-col{
        align-self: center;
        padding: $gutter $gutter;
        max-width: 50%;

        .info2-heading{
            font-family: $poppins;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            line-height: $head-line-height;
            word-wrap: none;
        }

        .info2-sub{
            font-family: $poppins;
            font-size: $med-font;
            color: white;
            
        }

        .info2-butn{
            font-family: $poppins;
            font-weight: 400;
            font-size: $med-font;
            padding: 0 $lg-padd;
            transition: all .3s;

            &:hover{
                border: 4px solid $pink;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        
    }

    
    
}

@media only screen and (max-width: 800px){
    
    .info2{
        width: 100%;
        height: auto;
        background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
        url("https://images.unsplash.com/photo-1528024522223-f295b5bae7b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .info2-col{
            align-self: center;
            padding: $gutter $gutter;
            max-width: 100%;


            .info2-heading{
                font-family: $poppins;
                color: white;
                text-transform: uppercase;
                font-weight: 500;
                line-height: $head-line-height;
                word-wrap: none;
                text-align: justify;
                font-size: $med-font;
            }
            .info2-sub{
                font-family: $poppins;
                font-size: $sm-font;
                color: white;
                
            }
            
            .info2-butn{
                font-family: $poppins;
                font-weight: 400;
                font-size: $sm-font;
                transition: all .3s;
    
                &:hover{
                    border: 4px solid $pink;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}